<ion-content no-bounce>
	<ion-slides #slides pager>

		<ion-slide>
			<img src="assets/imgs/thankyou.jpg" class="slide-image"/>
			<h2 class="slide-title">
				Welcome to <b>Avalow Garden Coaching</b>
			</h2>
			<p>We look forward to growing with you!</p>
		</ion-slide>

		<ion-slide>
			<img src="assets/imgs/Planting1_ED.jpg" class="slide-image"/>
			<h2 class="slide-title" >Garden App</h2>
			<p><b>You should have received your login information</b></p><br>
			<p> We're here to help! </p><br>
			<p><a href="mailto:grow@avalow.com">Send us a note</a></p>
		</ion-slide>

		<ion-slide>
			<img src="assets/imgs/polkadots.png" class="slide-image"/>
			<h2 class="slide-title">Ready to Get Your Hands Dirty?</h2>

			<button ion-button icon-right full clear (click)="login()">
				Log in <ion-icon name="log-in"></ion-icon>
			</button>

			<!-- <button ion-button icon-right full clear (click)="startApp()">
				Enter as anonymous<ion-icon name="arrow-forward"></ion-icon>
			</button> -->
		</ion-slide>

	</ion-slides>
</ion-content>
